/* GLOBAL */

:root {
    box-sizing: border-box;

    --rooms-per-side: 1; 
}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 

    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    
    outline: 0; 
}

body {
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    
    font-family: 'Futura', sans-serif; 
}

a {
    text-decoration: none;
    color: #00f; 
}

/* SCHEMATIC CONTAINS THE ENTIRE SYSTEM TO MAP MEMORIES TO LOCATIONS */

.schematic {
    display: flex; 
}

/* INTERFACE */

.interface {
    flex: 0 1 100%; 
    
    background-color: #aaf;

    display: flex; 
    flex-direction: column; 
}

/* MAP */

.floor-plan {
    flex: 1 0 100vmin; 
    width: 100vmin; 
    height: 100vmin; 

    background-color: #faf;

    display: grid; 
    grid-template-columns: repeat(var(--rooms-per-side), 1fr);
    grid-template-rows: repeat(var(--rooms-per-side), 1fr);
}

/* ROOMS */

.room {
    background-color: #888; 
    
    border: 1px solid #000; 

    display: relative; 
}
.room[active = 'true'] {
    background-color: #ccf; 
}

/* LOCI */

.loci {
    display: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    height: 16px; 

    background-color: #aaf; 
}

/* START */

.start-button {
    background-color: #888; 
    width: 8rem; 
    height: 4rem; 

    border-radius: 16rem; 

    display: flex; 
    justify-content: center;
    align-items: center;
}

/* LOCI DATA */

.memories {
    flex: 1 1 100%; 
    
    background-color: #aaa; 

    display: flex; 
    flex-wrap: wrap;
}

.memory {
    flex: 0 1 33%; 
    height: 33%; 

    background-color: #888; 
    
    border: 1px solid #000; 

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memory[blank="true"] {

}

/* CANVAS */
/* TEST FOR STORAGE */

canvas {
    background-color: #0f0; 
}