/* GLOBAL */

:root {
    box-sizing: border-box;

    --rooms-per-side: 1; 
}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 
    outline: 0; 
}

body {
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    
    font-family: 'Futura'; 
}

/* MAP */

.map {
    width: 100vmin; 
    height: 100vmin; 

    background-color: #faf;

    display: grid; 
    grid-template-columns: repeat(var(--rooms-per-side), 1fr);
    grid-template-rows: repeat(var(--rooms-per-side), 1fr);
}

/* ROOMS */

.room {
    background-color: #ccc; 
    
    border: 1px solid #000; 
}
.room[active = 'true'] {
    background-color: #ccf; 
}