/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Cinzel:wght@400&display=swap');

/* GENERAL */

:root {
    box-sizing: border-box; 
    
    /* VARIABLES */
    
    /* SIZING */
    
    --vw: 1vw; 
    --vh: 1vh; 
    --vmin: 1vmin; 
    --c: calc(3.125 * var(--vmin)); 
    font-size: calc(0.83333 * 3.125 * var(--vmin)); 

    /* FONTS */
    
    --rm: 'Cinzel', 'Trajan', 'Garamond', 'Times New Roman', sans-serif; 
    --tt: 'Chivo Mono', monospace; 

    /* COLOR */
    
    --theme-color: #38C038; 
    --theme-color-transparent: #38C03800; 
    --theme-color-negative: #777; 

    /* DECORATION */

    --skeuomorphic-shadow: 0 0 calc(2 * var(--c)) #0004;  
    --skeuomorphic-shadow-border: 2px solid #aaa; 

}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 

    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

body {
    line-height: 1.2; 
    font-family: var(--rm); 
}

a {
    text-decoration: none;
    color: #000; 
}

img {
    display: block; 
    object-fit: contain;
    object-position: center;
}

/* 
    COMPONENTS
 */

/* CARD COMPONENT */

[component = "card"] {
    height: calc(8 * var(--c)); 
    width: calc(8 * var(--c)); 

    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

[component = "card-button"] {
    height: calc(4 * var(--c)); 
    width: calc(4 * var(--c)); 

    background-color: #fff;
    text-align: center;
    font-weight: 900; 

    cursor: pointer;
    /* border: var(--skeuomorphic-shadow-border);  */ 
    box-shadow: var(--skeuomorphic-shadow); 

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[component = "card-headline"] {
    height: calc(2 * var(--c)); 
    width: calc(4 * var(--c)); 
    
    text-align: center; 
    font-family: var(--tt); 
    font-weight: 900; 

    display: flex; 
    justify-content: center;
    align-items: center;
}

[component = "card-icon-desc"] {
    font-family: var(--tt); 
    font-weight: 900; 
}

/* CARD */

[comp = "modal"] {
    z-index: 100; 
    position: fixed; 
    top: calc(8 * var(--c)); 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    
    background-color: #0008;
}

[comp = "modal-card"] {
    position: relative; 
    margin: calc(4 * var(--c)) calc(8 * var(--c)); 
    padding: calc(4 * var(--c)); 
    
    background-color: #fff; 
}

[comp = "modal-close"] {
    position: absolute; 
    top: 0; 
    right: 0; 
    height: calc(2 * var(--c)); 
    width: calc(2 * var(--c)); 

    cursor: pointer; 
}

[comp = "modal-instruction-copy"] {
    font-family: var(--tt); 
    font-size: 0.5rem; 
}

/* 
    COMMON ITEMS
 */

/* BRAND */

.brand {
    height: calc(8 * var(--c)); 
    width: calc(32 * var(--c)); 
    
    background-color: var(--theme-color-negative); 
    color: #fff; 
    font-weight: 900; 

    line-height: 1;

    display: flex; 
    justify-content: flex-start;
    align-items: center; 
}

.brand-second-word, 
.brand-first-word {
    height: calc(8 * var(--c)); 
    width: calc(8 * var(--c)); 
}

.brand-first-word {
    font-size: 4rem; 
    font-family: var(--rm); 

    display: flex; 
    flex-wrap: wrap;
}

.brand-first-word-letter {
    flex: 1 1 50%; 
    height: calc(4 * var(--c)); 
    
    display: flex; 
    justify-content: center; 
    align-items: flex-end;
}

.brand-first-word-letter:nth-of-type(1), 
.brand-first-word-letter:nth-of-type(4) {
    background-color: #0f08; 
}

.brand-second-word {
    font-size: 6rem; 
    font-family: var(--tt); 
    background-color: #0f08; 

    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.copyright {
    font-weight: 400; 
    font-size: 0.5rem; 
    font-family: var(--tt); 
    color: #fff; 
    
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end; 
}

.tagline {
    flex: 1 0 auto; 
    padding: var(--c); 

    font-family: var(--rm); 

    display: flex; 
    align-items: flex-end; 
}

/* DEV GRID */

.dev-grid {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start;

    --grid-atomic-color: 1px solid #00f1; 
    --grid-major-color: 1px solid #00f5; 
    --grid-inner-frame: 1px solid #00f3; 
    --grid-vmax: 2px solid #00f; 
}

/* GRID CELLS */

.dev-grid-cell {
    width: var(--c); 
    height: var(--c); 

    border-bottom: var(--grid-atomic-color); 
    border-right: var(--grid-atomic-color); 
}

/* VERTICAL */

/* MAJOR */

.dev-grid-cell[data-column = "7"], 
.dev-grid-cell[data-column = "15"], 
.dev-grid-cell[data-column = "23"] {
    border-right: var(--grid-major-color); 
}

.dev-grid-cell[data-row = "7"], 
.dev-grid-cell[data-row = "15"], 
.dev-grid-cell[data-row = "23"] {
    border-bottom: var(--grid-major-color); 
}

/* MAJOR INNER FRAME */

.dev-grid-cell[inner-frame-vertical = "true"] {
    border-right: var(--grid-inner-frame); 
}

.dev-grid-cell[inner-frame-horizontal = "true"] {
    border-bottom: var(--grid-inner-frame); 
}

/* VMAX */

.dev-grid-cell[data-column = "31"] {
    border-right: var(--grid-vmax); 
}

.dev-grid-cell[data-row = "31"] {
    border-bottom: var(--grid-vmax); 
}


