
/* GENERAL */

:root {
    box-sizing: border-box; 
    
    --vw: 1vw; 
    --vh: 1vh; 
    --vmin: 1vmin; 
    font-size: calc(0.83333 * 3.125 * var(--vmin)); 
}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 

    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

body {
    line-height: 1.2; 
    font-family: 'Share Tech', sans-serif; 
}

a {
    text-decoration: none;
    color: #000; 
}

img {
    display: block; 
    object-fit: contain;
    object-position: center;
}

/* MATERIAL ICONS */

.material-icons.theme-color {
    color: #f0f; 
}

.my-class {
    height: 200px; 
    width: 200px; 
    background-color: #0002; 

}

/* DEV GRID */

.dev-grid {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start;
}

/* GRID CELLS */

.dev-grid-cell {
    width: calc(var(--vmin) * 3.125); 
    height: calc(var(--vmin) * 3.125); 

    border-bottom: 1px solid #00f2; 
    border-right: 1px solid #00f2; 
}

/* GRID CELL LINES */

.dev-grid-cell[data-column = "7"], 
.dev-grid-cell[data-column = "15"], 
.dev-grid-cell[data-column = "23"] {
    border-right: 1px solid #00f6; 
}

.dev-grid-cell[data-column = "31"] {
    border-right: 2px solid #00fc; 
}

.dev-grid-cell[data-row = "7"], 
.dev-grid-cell[data-row = "15"], 
.dev-grid-cell[data-row = "23"] {
    border-bottom: 1px solid #00f6; 
}

.dev-grid-cell[data-row = "31"] {
    border-bottom: 2px solid #00fc; 
}