:root {
    box-sizing: border-box; 
}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 

    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

a {
    text-decoration: none;
    color: #00f; 
}