/* FLEX CENTER */

.banner-instruction-img, 
.banner-instruction-copy, 
.brand-first-word-letter, 
.brand-first-word, 
.brand-second-word, 
.subtitle, 
.brand {
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* GLOBAL */

body {
    --text-indent: calc(2 * var(--c)); 
    
    font-size: 1rem; 
}

.text-holder {
    font-size: 1rem; 
    line-height: 1.2rem; 
    position: absolute; 
    top: 0; 
    
    background-color: #0002;
}

/* INTRODUCTION SECTION */

.cta, 
.introduction {
    max-width: calc(100 * var(--vw)); 
    overflow: hidden;

    display: flex; 
    flex-direction: row;
}

.cta-content, 
.introduction-content {
    flex: 0 0 calc(100 * var(--vmin)); 
    height: calc(100 * var(--vh)); 
}

/* HERO */

.callout,
.hero-img {
    z-index: 100; 
    flex: 1 0 0; 
    height: calc(100 * var(--vmin)); 

    box-shadow: var(--skeuomorphic-shadow); 
}

/* BANNER DESCRIBES THE MOST FUNDAMENTAL MECHANICS OF THE SITE */

.banner-instruction {
    position: relative; 
    height: calc(8 * var(--c)); 
    padding: 0; 

    /* font-family: var(--tt);  */

    display: flex; 
    justify-content: flex-end;
    align-items: center; 
}

.banner-instruction:nth-of-type(2) {
    /* flex-direction: row-reverse;  */
}

.banner-instruction-copy {
    flex: 1 0 50%; 
    padding: 0 var(--text-indent); 

    /* background-color: #00f4; */

    justify-content: flex-start;
}    

.banner-instruction-img {
    flex: 0 0 calc(7 * var(--c)); 
    height: calc(7 * var(--c)); 
    
    font-family: var(--tt); 
    text-align: center;
    background-color: #0f04; 
} 

.banner-instruction:nth-of-type(3) .banner-instruction-img {
    flex: 0 0 calc(14 * var(--c)); 
}

.banner-instruction-img:nth-last-child(2) {
    margin-left: var(--c); 
}    

.banner-instruction-img:nth-last-child(1) {
    margin-right: var(--c); 
} 

.banner-instruction:nth-of-type(3) .banner-instruction-img:nth-last-child(1) {
    margin-left: var(--c); 
}

.banner-instruction-arrow {
    position: absolute; 
    right: calc(7 * var(--c)); 
    height: calc(2 * var(--c)); 
    width: calc(2 * var(--c)); 

    background-color: #fff;

    border-radius: calc(2 * var(--c)); 
}

/* CALL TO ACTION */

.cta {
    height: calc(16 * var(--c)); 
}

/* CALLOUT TO CREATE NEW PALACE */

.callout {
    height: calc(16 * var(--c)); 

    box-shadow: none; 
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.callout-card {
    height: calc(12 * var(--c)); 
    padding: var(--c); 

    box-shadow: var(--skeuomorphic-shadow);
    border: var(--skeuomorphic-shadow-border); 
    
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

/* CTA INFORMATIONAL CONTENT */

/* BENEFITS AND LIMITATIONS */

.cta-content {
    height: calc(16 * var(--c)); 
    padding: calc(4 * var(--c)) var(--text-indent); 
}

.background-copy, 
.limitations-copy, 
.benefits-copy {
    font-family: var(--tt); 
}

.background-headline, 
.limitations-headline {
    margin: var(--c) 0 0; 
}

/* CALLOUT AND CREATE NEW PALACE */

.callout {
    
    text-align: center; 
}

.callout-headline {
    font-size: 2rem; 
}

.callout-copy {
    font-size: 1rem; 
}

/* THE LIST OF PALACES */

.palaces {
    width: calc(100 * var(--vw)); 
}

.background-title, 
.palaces-headline {
    height: calc(8 * var(--c)); 
    padding: var(--text-indent); 
    
    font-size: 2rem;    

    background: linear-gradient(to bottom, #ffff 0, #fffa 50%, #ffff 100%), linear-gradient(to right, var(--theme-color) 0, var(--theme-color-negative) calc(32 * var(--c))); 

    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.palaces-list {
    display: flex; 
    flex-wrap: wrap; 
}

/* AN INDIVIDUAL PALACE */

.palace {
    height: calc(12 * var(--c)); 
    width: calc(12 * var(--c)); 
    margin: calc(2 * var(--c)); 

    border: var(--skeuomorphic-shadow-border); 
    box-shadow: var(--skeuomorphic-shadow);
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.palace-name {
    font-size: 2rem; 
}

.palace-buttons {
    display: flex; 
}

.palace-erase, 
.palace-start {
    height: calc(2 * var(--c)); 
    width: calc(4 * var(--c)); 

    font-family: var(--tt); 
    
    cursor: pointer; 
    
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.palace-start {
    background-color: var(--theme-color);
}

.palace-erase {
    border: 2px solid #444; 
}

/* BACKGROUND */

.background {
    background-color: none; 

    display: flex; 
    flex-wrap: wrap;
}

.background-title {
    width: 100%; 
}

.background-content {
    width: calc(32 * var(--c)); 
}

.background-headline {
    padding: 0 var(--text-indent); 
}

.background-copy {
    padding: 0 var(--text-indent); 
}

.background-imgs {
    flex: 1 0 0; 
}

.background-img {
    width: 100%; 
    height: calc(16 * var(--c)); 

    background-color: #f0f;
}

/* FOOTER */

.footer {
    height: calc(8 * var(--c)); 

    color: #fff; 
    font-weight: 900; 
    background-color: var(--theme-color-negative);
    
    display: flex; 
    justify-content: center;
    align-items: center;
}