
/* FULL-PAGE BODY */

body {
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
}

/* HEADER */

.header {
    height: calc(8 * var(--c)); 
    width: 100%; 

    background-color: var(--theme-color-negative);

    display: flex; 
}

.header-global {
    flex: 0 0 calc(24 * var(--c)); 

    display: flex; 
}

.brand {
    position: relative; 
    width: unset; 
}

.brand-second-word {
    flex-direction: column;
}

.copyright {
    font-weight: 400; 
    font-size: 0.5rem; 
    font-family: var(--tt); 
    color: #fff; 
    
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end; 
}

.header-local {
    flex: 1 0 0; 

    background-color: var(--theme-color);
    
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.header-local-play-button-icon {
    height: calc(2 * var(--c)); 
    width: calc(2 * var(--c)); 
}

.palace_title {
    flex: 1 0 0; 
    
    text-align: center;
    font-size: 3rem;
    font-weight: 500; 
    color: #fff; 
}

.header-local-play-button {
    background-color: #fff; 
}

/* CONTAINS THE ENTIRE SYSTEM TO MAP MEMORIES TO LOCATIONS */

.edit-palace {
    display: flex; 
}

@media (max-aspect-ratio: 1 / 1) {
    .edit-palace {
        flex-direction: column;
    }
}

/* INTERFACE */

.interface {
    position: relative; 
    flex: 0 1 100%; 
    
    /* display: flex;  */
    /* flex-direction: column;  */
}

/* LOCI ADD */

.loci-add-button {
    background-color: #ff08; 
}

.loci-add-button-icon {
    height: calc(2 * var(--c)); 
    width: calc(2 * var(--c)); 
}

/* LOCI LIST */

.loci {
    overflow-y: scroll; 
    flex: 1 1 0; 
    width: 100%; 
    height: calc(24 * var(--c)); 
    
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start; 
}

/* INDIVIDUAL LOCUS */

.locus[being-dragged = "true"] {
    opacity: 0.66; 
}

.locus-controls {
    width: calc(4 * var(--c)); 
    
    display: flex; 
    justify-content: flex-end;
}

.locus-controls > * { 
    height: var(--c); 
    width: var(--c); 

    cursor: pointer; 
}

.mnemonic {
    cursor: grab; 
}

.memory {
    height: calc(2 * var(--c)); 
    overflow: hidden;
    
    font-size: 0.5rem; 

    text-overflow: ellipsis;

    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
}

/* ADD MEMORY INTERFACE */

.push-locus {
    z-index: 100; 
    position: absolute; 

    --offset: 2rem; 
    top: var(--offset); 
    right: var(--offset); 
    bottom: var(--offset); 
    left: var(--offset); 

    background-color: #444;
}

/* MAP */

.map {
    flex: 0 0 calc(24 * var(--c)); 
    width: calc(24 * var(--c)); 
    height: calc(24 * var(--c)); 

    background-color: #eee;

    display: grid; 
    grid-template-columns: repeat(var(--rooms-per-side), 1fr);
    grid-template-rows: repeat(var(--rooms-per-side), 1fr);
}

/* ROOMS */

.room {
    background-color: var(--theme-color-negative); 
    
    border: 1px solid #000; 
    cursor: crosshair;

    display: relative; 
}

.room[active = 'true'] {
    background-color: var(--theme-color); 

    /* cursor: not-allowed;  */
}

.room[dragover = "true"] {
    background-color: #fff;
}
    
.room:nth-of-type(1) {
    background-color: #fff; 
}