
/* FULL-PAGE BODY */

body {
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
}

/* SCHEMATIC CONTAINS THE ENTIRE SYSTEM TO MAP MEMORIES TO LOCATIONS */

.schematic {
    display: flex; 
}

/* INTERFACE */

.interface {
    position: relative; 
    flex: 0 1 100%; 
    
    display: flex; 
    flex-direction: column; 
}

/* MAP */

.floor-plan {
    flex: 1 0 100vmin; 
    width: 100vmin; 
    height: 100vmin; 

    background-color: #eee;

    display: grid; 
    grid-template-columns: repeat(var(--rooms-per-side), 1fr);
    grid-template-rows: repeat(var(--rooms-per-side), 1fr);
}

/* ROOMS */

.room {
    background-color: #888; 
    
    border: 1px solid #000; 

    display: relative; 
}

.room[active = 'true'] {
    background-color: #ccc; 
}

.room[dragover = "true"] {
    background-color: #fff;
}

/* BUTTONS */

.buttons {
    display: flex; 
    flex-wrap: wrap; 
}

.buttons > * {
    flex: 1 1 33%; 
    height: 4rem; 
    
    background-color: #888; 
    
    cursor: pointer; 
    border-radius: 16rem; 

    display: flex; 
    justify-content: center;
    align-items: center;
}

/* MEMORIES */

.memories {
    overflow: scroll; 
    flex: 1 1 100%; 
    
    background-color: #aaa; 

    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start; 
}

.memory {
    position: relative; 
    flex: 0 1 33.33%; 
    height: 33%; 

    background-color: #888; 
    
    border: 1px solid #000; 

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memory[being-dragged = "true"] {
    opacity: 0.66; 
}

.memory-img {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
}

.assertion {
    position: absolute; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    height: 2.4em; 

    background-color: #eee; 

    display: flex; 
    justify-content: center;
    align-items: center;
}

/* ADD MEMORY INTERFACE */

.add-memory-interface {
    z-index: 100; 
    position: absolute; 

    --offset: 2rem; 
    top: var(--offset); 
    right: var(--offset); 
    bottom: var(--offset); 
    left: var(--offset); 

    background-color: #444;
}